.header{
    width: 90%;
    max-height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(210, 210, 210);
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;  
}
ul{
    list-style: none;
    padding: 0px 30px; 
}
li{
    color: chocolate;
}
ul:hover{
    background-color: rgb(227, 227, 227);
    padding: 5px 20px;
}
.image{
    background-image: ;
}